*{
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;

}
.boton{

    padding: 4px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(133, 3, 255);
    border: 1px solid ;
    border-color: rgb(250, 242, 250);
    border-radius: 5px;
    text-decoration: none;  /*es para quitar el subrayado de un link*/
}

.carousel-inner > .item > a > img {
        width: 60%;
        margin: auto;
 }

.carbon{
color: blue;

}
.campo{
    width: 120px;
    height: 25px;
    text-align: center;
}


 h2{
    color:brown;
    text-align: center;
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}




main{
    text-align:center;
}